<div class="media" id="bookmark-<%= bookmark.id %>">
        <div class="media-body">
          <% object = LinkThumbnailer.generate( bookmark.url, redirect_limit: 5) %>
          <% if object.valid? %>
          <div class="col-md-2">
            <div class="row">
            <% if object.url? %>
            <%= link_to(image_tag(object.image, size: "100x100"), object.url ) %>
            <% else %>
            No image to preview
            <% end %>
            </div>
            <%= render partial: 'votes/voter', locals: {category: bookmark.category , bookmark: bookmark} %>
          </div>
          <div class="row col-md-6">
            <h4 class="media-heading">
            <%= object.title %>
            </h4>
             <p><%= object.description %>
            </p>
            <small>
              submitted <%= time_ago_in_words(bookmark.created_at) %> ago by <%= bookmark.user.email %>
            </small>
          </div>
          <div class="col-md-4">
            <% if policy(bookmark).destroy? %>
            <%= link_to "delete", [bookmark.category, bookmark], method: :delete, remote: true , class: "btn btn-md btn-danger", data: { :confirm => "Are you sure ?" } %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>