
<div class="col-md-12">
  <% if current_user.present? %>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Note:</strong>
  To automatically create please send an email to: postmaster@app25135937.mailgun.org with subject: the Category name and paste the link inside the email Body.
</div>
<% end %>
<div class="row">
  <div class="col-md-7">
    <h1>My Bookmarks</h1>
    <% @bookmarks.each do |bookmark| %>
      <div class="media" id="bookmark-<%= bookmark.id %>">
        <div class="media-body">
          <% object = LinkThumbnailer.generate( bookmark.url, redirect_limit: 5) %>
          <% if object.valid? %>
          <div class="col-md-2">
            <div class="row">
            <% if object.url? %>
            <%= link_to(image_tag(object.image, size: "100x100"), object.url ) %>
            <% else %>
            No image to preview
            <% end %>
            </div>
            <br>
            <%= render partial: 'votes/voter', locals: {category: bookmark.
              category_id , bookmark: bookmark} %>
          </div>
          <div class="col-md-8">
            <h4>
            <%= object.title %>
          </h4>
            <p><%= object.description %>
            </p>
            <span class="label label-success pull-left"> <%= bookmark.category.name %></span>
            <small class="pull-right">
              submitted <%= time_ago_in_words(bookmark.created_at) %> ago by <%= bookmark.user.email %>
            </small>
          </div>
          <div class="col-md-2">
            <% if policy(bookmark).destroy? %>
            <%= link_to "delete", [bookmark.category, bookmark], method: :delete, remote: true , class: "btn btn-md btn-danger", data: { :confirm => "Are you sure ?" } %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
  <div class="col-md-5">
    <h1>My Likes</h1>
    <% @bookmark_ids.each do |i| %>
    <div class="media">
      <% object = LinkThumbnailer.generate( Bookmark.find(i).url, redirect_limit: 5) %>
      <% if object.valid? %>
      <div class="media-body">
          <div class="col-md-3">
            <div class="row">
            <% if object.url? %>
            <%= link_to(image_tag(object.image, size: "100x100"), object.url ) %>
            <% else %>
            No image to preview
            <% end %>
           </div>
           <hr>
            <%= render partial: 'votes/voter', locals: {category: Bookmark.find(i).category , bookmark: Bookmark.find(i)} %>
          </div>
          <div class="col-md-9">
            
              <h4>
                <%= object.title %>
              </h4>
              <p><%= object.description %>
            </p>
              <small>
                submitted <%= time_ago_in_words(Bookmark.find(i).created_at) %> ago by <%= Bookmark.find(i).user.email %>
              </small>
           
          </div>
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>


