<h1><%= @category.name %></h1>
<% if current_user.present? %>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Note:</strong>
  To add links here please send an email to: postmaster@app25135937.mailgun.org with subject: <strong><%= @category.name %></strong> and paste the link inside the email Body.
</div>
<% end %>
<% if policy(@category).update? %>
  <%= link_to "Change category name", edit_category_path, class: 'btn btn-success' %>
<% end %>
<hr>
<div class="col-md-12">
  <div class="col-md-8">
    <%= render @bookmarks %>
    <%= will_paginate @bookmarks %>
  </div>
  <div class="col-md-4">
    <% if policy(Bookmark.new).create? %>
      <%= link_to "New Bookmark", new_category_bookmark_path(@category), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>